@font-face {
  font-family: "iconfont"; /* Project id 3587476 */
  src: url('iconfont.woff2?t=1660450015303') format('woff2'),
       url('iconfont.woff?t=1660450015303') format('woff'),
       url('iconfont.ttf?t=1660450015303') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chizi:before {
  content: "\e601";
}

.icon-dengzi:before {
  content: "\e602";
}

.icon-lanqiuchang:before {
  content: "\e603";
}

